:root {
    --color-primary: #6e4040;
    --color-secondary: #0a0808;
    --color-ternary: #ffffff;
    --font-primary: 'Roboto', sans-serif;
}

html,
body {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: var(--font-primary);
    color: var(--color-secondary);
}

.btn {
    width: 100%;
    padding: 1.5rem 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: #6e4040;
    color: var(--color-ternary);
    cursor: pointer;
    transition: 200ms filter;
    line-height: 2rem;
}
.btn:hover {
    filter: brightness(1.2);
}

.about-newsletter {
    position: relative;
    background-image: url('../images/guitars.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.about-newsletter .about-newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .7);
}

.about-newsletter .about-newsletter-container .img-guitars {
    width: 100%;
}

.about-newsletter .about-newsletter-container .newsletter-box {
    transition: 100ms opacity;
}

.about-newsletter .about-newsletter-container .newsletter-box.hidden {
    display: none;
}

.about-newsletter .about-newsletter-container .newsletter-box,
.subscribe-newsletter form {
    background-color: var(--color-ternary);
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    box-shadow: 0 2px 0.5rem var(--color-secondary);
}

.about-newsletter .about-newsletter-container .newsletter-box header
img.guitar-blue {
    width: 100%;
}

.about-newsletter .about-newsletter-container .newsletter-box header
.title-main {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2rem;
    line-height: 2.2rem;
}

.about-newsletter .about-newsletter-container .newsletter-box header
.title-main span {
    font-weight: 500;
}

.about-newsletter .about-newsletter-container .newsletter-box header .subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0 2rem;
    line-height: 1.8rem;
}

.about-newsletter .about-newsletter-container .newsletter-box footer
ul.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
    margin: 2rem auto 0;
}

.about-newsletter .newsletter-box footer ul.socials li {
    transition: 200ms transform;
}

.about-newsletter .newsletter-box footer ul.socials li:hover {
    transform: scale(1.2);
}

.about-newsletter .newsletter-box footer ul.socials li a {
    text-decoration: none;
}

.about-newsletter .newsletter-box footer ul.socials li a img {
    width: 2rem;
}

.about-newsletter .subscribe-newsletter {
    display: none;
}

.about-newsletter .subscribe-newsletter form {
    position: relative;
}

.about-newsletter .subscribe-newsletter form .newsletter-close {
    position: absolute;
    top: 0.5rem;
    right: 0.3rem;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0 0.3rem;
    background-color: var(--color-secondary);
    color: var(--color-ternary);
    border-radius: 50%;
    cursor: pointer;
}

.about-newsletter .subscribe-newsletter form img.guitar-blue {
    width: 100%;
}

.about-newsletter .subscribe-newsletter form .title {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-secondary);
    border-radius: 0.5rem;
    margin: 1rem 0;
    line-height: 2.2rem;
}

.about-newsletter .subscribe-newsletter form #enter-data {
    transition: 200ms display;
}

.about-newsletter .subscribe-newsletter form input,
.about-newsletter .subscribe-newsletter form button {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.about-newsletter .subscribe-newsletter form input {
    margin: 1rem 0;
    padding: 1rem;
    border: 2px solid #cccccc;
    font-size: 1rem;
}

.about-newsletter .subscribe-newsletter form input:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.about-newsletter .subscribe-newsletter form input:focus.error,
.about-newsletter .subscribe-newsletter form input.error {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #b11f1f;
    border: 1px solid #b11f1f;
}

.about-newsletter .subscribe-newsletter form input:focus.success {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #148114;
    border: 1px solid #148114;
}

.about-newsletter .subscribe-newsletter form input::placeholder {
    font-size: 1rem;
}

.about-newsletter .subscribe-newsletter form .message {
    display: block;
    margin-bottom: 1rem;
    color: #b11f1f;
}

.about-newsletter .subscribe-newsletter form .spam {
    display: block;
    text-transform: uppercase;
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.about-newsletter .subscribe-newsletter form .message-success {
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-ternary);
    background-color: #148114;
    margin-top: 1rem;
    transition: 200ms display;
    padding: 1rem;
};

.last-tips {
    line-height: 1.5rem;
}

.last-tips .container {
    padding: 0 2rem;
    text-align: center;
}

.last-tips header .title,
.last-tips .subtitle {
    color: var(--color-primary);
}

.last-tips header .title {
    font-size: 2rem;
    font-weight: 500;
    margin: 2rem 0;
}

.last-tips .subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2rem;
}

.last-tips p {
    text-align: justify;
    margin-bottom: 1rem;
}

.footer {
    padding: 1rem 0;
}

.footer ul.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
    margin: 2rem auto 0;
}

.footer ul.socials li {
    transition: 200ms transform;
}

.footer ul.socials li:hover {
    transform: scale(1.2);
}

.footer ul.socials li a {
    text-decoration: none;
}

.footer ul.socials li a img {
    width: 2rem;
}